<!DOCTYPE html>
<html>
    <head>
        <style>
            table,tr,td{
                border: 1px solid black;
            }
        </style>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/newTask">Add New Task</a>
        <h3>
        <table>
            <tr>
                <td>Name</td>
                <td>Task Due</td>
                <td>Task Desc</td>
            </tr>
            <% for (var i = 0; i < taskDb.length; i++){ %>
                <tr>
                    <td>
                        <%= taskDb[i].taskName %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDue %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDesc %>
                    </td>
                </tr>
                <% } %>
        </table>
        </h3>
    </body>
</html>